.movieDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.poster {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.details {
  max-width: 600px;
}

.details h2 {
  margin-bottom: 10px;
}

.details p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.link {
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: #0056b3;
}
